@import "../../../styles/mixins";
@import "../../../styles/variables";

$season-number-border-color: #0c6b9f;

.top-episode-list-container {
  display: grid;
  grid-auto-rows: auto;
  width: 100%;
  height: fit-content;

  @include apply-styles-until('xs') {
    grid-template-columns: repeat(5, 120px);
    gap: $spacing-4;
    margin-bottom: $spacing-1;
    overflow-x: auto;
    overflow-y: hidden;
  }

  @include apply-styles-between('xs', 'md') {
    grid-template-columns: repeat(5, 120px);
    gap: $spacing-4;
    margin-bottom: $spacing-2;
    overflow-x: auto;
    overflow-y: hidden;
  }

  @include apply-styles-between('md', 'lg') {
    grid-template-columns: repeat(5, 160px);
    gap: $spacing-3;
    margin-bottom: $spacing-2;
  }

  @include apply-styles-from('lg') {
    grid-template-columns: repeat(5, 1fr);
    gap: $spacing-4;
    margin-bottom: $spacing-4;
  }
}

.top-episode-card {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: visible;
  border-radius: $spacing-3;
  border: 0 solid transparent;
  width: 100%;
  height: fit-content;
  cursor: pointer;
  transition: all 0.3s ease;

  @include apply-styles-until('xs') {
  }

  @include apply-styles-between('xs', 'md') {

  }

  @include apply-styles-from('md') {

  }

  &:hover {
    opacity: 0.6;
    transition: all 0.3s ease;
  }

  img.season-thumbnail {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    object-position: center center;
    border-radius: $spacing-3;
  }

  $season-number-size: 120px;

  p.episode-number {
    margin: 0;
    position: absolute;
    left: -15px;
    right: auto;
    top: auto;
    text-shadow: -1px 1px 0 #0c6b9f, 1px 1px 0 #0c6b9f, 1px -1px 0 #0c6b9f,
    -1px -1px 0 #0c6b9f;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: #232931;

    @include apply-styles-until('xs') {
      bottom: -5px;
      @include font-primary($size: 80px, $line-height: 70px);
    }

    @include apply-styles-between('xs', 'md') {
      @include font-primary($size: 80px, $line-height: 70px);
      bottom: 10px;
    }

    @include apply-styles-from('md') {
      @include font-primary($size: 120px, $line-height: 100px);
      bottom: 10px;
    }
  }
}
