<!-- page content -->
<div class="page-container">
  <!-- Header title section -->
  <header class="app-header">
    <h4 class="header-title">
      Search
      <fa-icon [icon]="faInfoCircle" class="info-icon"></fa-icon>
    </h4>
  </header>

  <!-- search-box component -->
  <div class="search-box-container">
    <div class="search-input-component">
      <input (keydown.enter)="searchEpisode()" [(ngModel)]="searchText" class="search-input" placeholder="Search"
             type="text"/>
      <svg
        class="search-icon"
        fill="none"
        height="24"
        viewBox="0 0 24 24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M17.5 17.5L22 22"
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
        />
        <path
          d="M20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20C15.9706 20 20 15.9706 20 11Z"
          stroke="white"
          stroke-linejoin="round"
          stroke-width="1.5"
        />
      </svg>
    </div>
  </div>

  <div class="loading-placeholder" *ngIf="isLoading">
    <div class="spinner-icon-wrapper">
      <img src="assets/loading-spinner/loading-spinner-icon.png" alt="Loading..." class="loading-spinner" />
    </div>
    <p>Fetching results...</p>
  </div>

  <div class="search-result-placeholder" *ngIf="!isLoading && episodesList.length === 0">
    <img
      alt="no result placeholder"
      class="placeholder-image"
      src="assets/placeholder/no-results-placeholder.svg"
    />
    <h5 class="placeholder-title">We Are Sorry, We Can Not Find Anything :(</h5>
    <p class="placeholder-text">
      Find your episodes by Title, categories, years, etc
    </p>
  </div>

  <div class="search-result-container" *ngIf="!isLoading && episodesList.length > 0">
    <ng-container *ngFor="let episode of episodesList">
      <app-episode-search-result-card
        [episodeData]="episode"
      ></app-episode-search-result-card>
    </ng-container>
  </div>
</div>
