<!-- page content -->
<div class="page-container">
  <!-- Header title section -->
  <header class="app-header">
    <h4 class="header-title">
      Search
      <fa-icon [icon]="faInfoCircle" class="info-icon"></fa-icon>
    </h4>
  </header>

  <!-- search-box component -->
  <div class="search-box-container">
    <app-search-box></app-search-box>
  </div>

  <div class="loading-placeholder" *ngIf="isLoading">
    <div class="spinner-icon-wrapper">
      <img src="assets/loading-spinner/loading-spinner-icon.png" alt="Loading..." class="loading-spinner" />
    </div>
    <p>Fetching results...</p>
  </div>

  <div class="search-result-placeholder" *ngIf="!isLoading && episodesList.length === 0">
    <img
      alt="no result placeholder"
      class="placeholder-image"
      src="assets/placeholder/no-results-placeholder.svg"
    />
    <h5 class="placeholder-title">We Are Sorry, We Can Not Find Anything :(</h5>
    <p class="placeholder-text">
      Find your episodes by Title, categories, years, etc
    </p>
  </div>

  <div class="search-result-container" *ngIf="!isLoading && episodesList.length > 0">
    <ng-container *ngFor="let episode of episodesList">
      <app-episode-search-result-card
        [episodeData]="episode"
      ></app-episode-search-result-card>
    </ng-container>
  </div>
</div>
