@import "../../../styles/variables";
@import "../../../styles/mixins";

.episode-card {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  @include d-flex(
    $direction: row,
    $align: center,
    $justify: flex-start,
  );
  transition: all ease 300ms;
  cursor: pointer;

  @include apply-styles-until('xs') {
    border-radius: $spacing-2;
    gap: $spacing-3;
  }

  @include apply-styles-between('xs', 'md') {
    border-radius: $spacing-2;
    gap: $spacing-3;
  }

  @include apply-styles-from('md') {
    border-radius: $spacing-3;
    gap: $spacing-4;
  }

  &:hover {
    background-color: transparentize($white, 0.9);
    transition: all ease 300ms;
  }

  img.episode-thumbnail {
    aspect-ratio: 3 / 4;
    object-fit: cover;
    object-position: center center;
    border-radius: $spacing-3;

    @include apply-styles-until('xs') {
      width: 120px;
      height: auto;
    }

    @include apply-styles-between('xs', 'md') {
      height: auto;
      width: 140px;
    }

    @include apply-styles-from('md') {
      width: 160px;
      height: auto;
    }
  }

  .episode-details {
    @include d-flex(
      $direction: column,
      $align: flex-start,
      $justify: flex-start
    );

    @include apply-styles-until('xs') {
      gap: $spacing-2;
    }

    @include apply-styles-between('xs', 'md') {
      gap: $spacing-3;
    }

    @include apply-styles-from('md') {
      gap: $spacing-3;
    }

    .episode-title {
      padding: 0;

      @include apply-styles-until('xs') {
        @include font-primary($size: 14px, $weight: $font-weight-light);
        margin: 0 0 $spacing-1 0;
      }

      @include apply-styles-between('xs', 'md') {
        @include font-primary($size: 16px, $weight: $font-weight-light);
        margin: 0 0 $spacing-1 0;
      }

      @include apply-styles-from('md') {
        @include font-primary($size: 18px, $weight: $font-weight-light);
        margin: 0 0 $spacing-2 0;
      }
    }

    .episode-meta {
      @include d-flex(
        $direction: column,
        $align: flex-start,
        $justify: flex-start
      );

      @include apply-styles-until('xs') {
        gap: $spacing-1;
      }

      @include apply-styles-between('xs', 'md') {
        gap: $spacing-1;
      }

      @include apply-styles-between('md', 'lg') {
        gap: $spacing-2;
      }

      @include apply-styles-from('lg') {
        gap: $spacing-2;
      }

      .episode-rating,
      .episode-code,
      .episode-date,
      .episode-duration {
        @include d-flex(
          $direction: row,
          $align: center,
          $justify: flex-start
        );

        @include apply-styles-until('xs') {
          gap: $spacing-2;
          @include font-primary($size: 12px);
        }

        @include apply-styles-between('xs', 'md') {
          gap: $spacing-2;
          @include font-primary($size: 14px);
        }

        @include apply-styles-between('md', 'lg') {
          gap: $spacing-2;
          @include font-primary($size: 14px);
        }

        @include apply-styles-from('lg') {
          gap: $spacing-3;
          @include font-primary($size: 14px);
        }

        svg {
          flex-shrink: 0;

          @include apply-styles-until('xs') {
            width: 12px;
            height: 12px;
          }

          @include apply-styles-between('xs', 'md') {
            width: 16px;
            height: 16px;
          }

          @include apply-styles-between('md', 'lg') {
            width: 18px;
            height: 18px;
          }

          @include apply-styles-from('lg') {
            width: 22px;
            height: 22px;
          }

          * {
            stroke: #FFFFFF;
          }
        }
      }

      .episode-rating {
        color: #F88401;

        svg {
          color: #F88401;

          * {
            stroke: #F88401;
          }
        }
      }
    }
  }
}
