@import "../../../styles/variables";
@import "../../../styles/mixins";

.episode-card {
  width: 100%;
  height: fit-content;
  border-radius: $spacing-3;
  overflow: hidden;
  aspect-ratio: 16 / 9;

  .episode-thumbnail {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center center;
  }
}
