@import "../../../styles/variables";
@import "../../../styles/mixins";

.episode-card {
  width: 100%;
  height: fit-content;
  border-radius: $spacing-3;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;

  .episode-thumbnail {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center center;
  }

  &:hover {
    opacity: 0.8;
    border: 1px solid $accent-blue-color;
    transition: all 0.3s ease;
  }
}
