<!-- page content -->
<div class="page-container">
  <!-- Header title section -->
  <header class="app-header">
    <h4 class="header-title">
      Detail
      <fa-icon [icon]="faBookmark" class="bookmark-icon"></fa-icon>
    </h4>
  </header>

  <section class="episode-detail-wrapper">
    <div class="detail-header">
      <div class="cover-image">
        <img [src]="episodeCoverImage" alt="cover image">
      </div>
      <div class="header-info-wrapper">
        <img [src]="episodeThumbnailImage" alt="" class="episode-thumbnail">

        <div class="episode-info-wrapper">
          <h2 class="episode-title">{{ episodeData?.name }}</h2>

          <div class="episode-meta">
            <div class="episode-code">
              <svg color="#000000" fill="none" height="24" viewBox="0 0 24 24" width="24"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M2.46433 9.34375C2.21579 9.34375 1.98899 9.14229 2.00041 8.87895C2.06733 7.33687 2.25481 6.33298 2.78008 5.53884C3.08228 5.08196 3.45765 4.68459 3.88923 4.36468C5.05575 3.5 6.70139 3.5 9.99266 3.5H14.0074C17.2986 3.5 18.9443 3.5 20.1108 4.36468C20.5424 4.68459 20.9177 5.08196 21.2199 5.53884C21.7452 6.33289 21.9327 7.33665 21.9996 8.87843C22.011 9.14208 21.7839 9.34375 21.5351 9.34375C20.1493 9.34375 19.0259 10.533 19.0259 12C19.0259 13.467 20.1493 14.6562 21.5351 14.6562C21.7839 14.6562 22.011 14.8579 21.9996 15.1216C21.9327 16.6634 21.7452 17.6671 21.2199 18.4612C20.9177 18.918 20.5424 19.3154 20.1108 19.6353C18.9443 20.5 17.2986 20.5 14.0074 20.5H9.99266C6.70139 20.5 5.05575 20.5 3.88923 19.6353C3.45765 19.3154 3.08228 18.918 2.78008 18.4612C2.25481 17.667 2.06733 16.6631 2.00041 15.1211C1.98899 14.8577 2.21579 14.6562 2.46433 14.6562C3.85012 14.6562 4.97352 13.467 4.97352 12C4.97352 10.533 3.85012 9.34375 2.46433 9.34375Z"
                  stroke="currentColor" stroke-linejoin="round" stroke-width="1.5"/>
                <path d="M9 3.5L9 20.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="1.5"/>
              </svg>
              <span>{{ episodeData?.episode }}</span>
            </div>
            <div class="separator"></div>
            <div class="episode-date">
              <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 2V4M6 2V4" stroke="#141B34" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="1.5"/>
                <path
                  d="M2.5 12.2432C2.5 7.88594 2.5 5.70728 3.75212 4.35364C5.00424 3 7.01949 3 11.05 3H12.95C16.9805 3 18.9958 3 20.2479 4.35364C21.5 5.70728 21.5 7.88594 21.5 12.2432V12.7568C21.5 17.1141 21.5 19.2927 20.2479 20.6464C18.9958 22 16.9805 22 12.95 22H11.05C7.01949 22 5.00424 22 3.75212 20.6464C2.5 19.2927 2.5 17.1141 2.5 12.7568V12.2432Z"
                  stroke="#141B34" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                <path d="M3 8H21" stroke="#141B34" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
              </svg>

              <span>{{ episodeData?.air_date }}</span>
            </div>
            <div class="separator"></div>
            <div class="episode-duration">
              <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="10" stroke="#141B34" stroke-width="1.5"/>
                <path d="M12 8V12L14 14" stroke="#141B34" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="1.5"/>
              </svg>

              <span>{{ "139 " }} Minutes</span>
            </div>

            <div (click)="openScoreModal()" class="episode-rating">
              <svg
                fill="none"
                height="24"
                viewBox="0 0 24 24"
                width="24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M13.7276 3.44418L15.4874 6.99288C15.7274 7.48687 16.3673 7.9607 16.9073 8.05143L20.0969 8.58575C22.1367 8.92853 22.6167 10.4206 21.1468 11.8925L18.6671 14.3927C18.2471 14.8161 18.0172 15.6327 18.1471 16.2175L18.8571 19.3125C19.417 21.7623 18.1271 22.71 15.9774 21.4296L12.9877 19.6452C12.4478 19.3226 11.5579 19.3226 11.0079 19.6452L8.01827 21.4296C5.8785 22.71 4.57865 21.7522 5.13859 19.3125L5.84851 16.2175C5.97849 15.6327 5.74852 14.8161 5.32856 14.3927L2.84884 11.8925C1.389 10.4206 1.85895 8.92853 3.89872 8.58575L7.08837 8.05143C7.61831 7.9607 8.25824 7.48687 8.49821 6.99288L10.258 3.44418C11.2179 1.51861 12.7777 1.51861 13.7276 3.44418Z"
                  stroke="#fff"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                />
              </svg>

              <span class="rating-value">{{ "3.5" }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="detail-body">
      <div class="info-tab-view">
        <ng-container *ngFor="let tab of tabList">
          <button
            (click)="selectTab(tab)"
            [ngClass]="{'active': selectedTab === tab}"
            class="tab-button"
            type="button">
            {{ tab }}
          </button>
        </ng-container>
      </div>

      <div class="characters-list">
        <ng-container *ngFor="let character of characterList">
          <app-character-card [characterData]="character"></app-character-card>
        </ng-container>
      </div>
    </div>
  </section>
</div>

<div *ngIf="isModalOpen" class="rating-modal-container">
  <div class="rating-modal">
    <div class="rating-modal-content">
      <button (click)="closeModal()" class="rating-modal-close">
        <img alt="close modal" src="/assets/icons/multiplication-sign.svg">
      </button>

      <h2 class="rating-modal-title">Rate this episode</h2>

      <div class="rating-modal-score">{{ ratingScore }}</div>

      <div class="rating-modal-slider-container">
        <input [(ngModel)]="ratingScore" class="rating-modal-slider" max="10" min="0" step="0.1" type="range">
      </div>

      <button (click)="closeModal()" class="rating-modal-submit" type="button">OK</button>
    </div>
  </div>
</div>
