.page-container {
  padding: $spacing-5;
}

.app-header {
  @include d-flex($direction: row, $justify: space-between, $align: center);
  padding: 0;
  margin-bottom: $spacing-4;
  width: 100%;

  .header-title {
    @include font-primary($font-size-lg, $font-weight-light, $line-height-tight);
    color: $secondary-color;
    margin: 0;
    padding: 0;
    left: 0;
    text-align: left;
  }
}
