@import "../../../styles/variables";
@import "../../../styles/spacing";
@import "../../../styles/mixins";

.main-navigation-container {
  @include d-flex(
    $direction: column,
    $justify: center,
    $align: center,
    $gap: $spacing-5
  );
  height: 100%;
  width: fit-content;

  @include apply-styles-until('xs') {
    @include d-flex(
      $direction: row,
      $justify: space-between,
      $align: center
    );
    width: 100%;
    padding: $spacing-3;
  }

  @include apply-styles-between('xs', 'md') {
    @include d-flex(
      $direction: row,
      $justify: space-evenly,
      $align: center
    );
    width: 100%;
    padding: 0 0 0 0;
  }

  @include apply-styles-between('md', 'lg') {
    @include d-flex(
      $direction: column,
      $justify: center,
      $align: center,
      $gap: $spacing-5
    );
    padding: $spacing-3;
  }

  @include apply-styles-between('lg', 'xl') {
    @include d-flex(
      $direction: column,
      $justify: center,
      $align: center,
      $gap: $spacing-5
    );
    padding: $spacing-3;
  }

  @include apply-styles-from('xl') {
    @include d-flex(
      $direction: column,
      $justify: center,
      $align: center,
      $gap: $spacing-5
    );
    padding: $spacing-3;
  }

  button.navigation-btn {
    background: transparent;
    border: 0 solid transparent;
    @include d-flex(
      $direction: column,
      $justify: center,
      $align: center,
      $gap: $spacing-2
    );
    text-align: center;
    color: transparentize($color: $white, $amount: 0.5);
    cursor: pointer;

    @include apply-styles-until('xs') {
      width: fit-content;
      padding: 0;
    }

    @include apply-styles-between('xs', 'md') {
      width: 90px;
    }

    @include apply-styles-from('md') {
    }

    $icon-size: 38px;

    svg {

      @include apply-styles-until('xs') {
        $icon-size: 18px;
      }

      @include apply-styles-between('xs', 'md') {
        $icon-size: 22px;
      }

      @include apply-styles-from('md') {

      }

      width: $icon-size;
      height: $icon-size;
      transition: all 0.3s ease-in;

      path {
        stroke: transparentize($color: $white, $amount: 0.5);
        transition: all 0.3s ease-in;
      }
    }

    span {
      transition: all 0.3s ease-in;

      @include apply-styles-until('xs') {
        @include font-primary($size: 10px, $weight: $font-weight-medium);
      }

      @include apply-styles-between('xs', 'md') {
        width: 90px;
      }

      @include apply-styles-from('md') {
      }
    }

    &:hover,
    &.active {
      svg {
        transition: all 0.3s ease-in;

        path {
          stroke: #0688ce;
          transition: all 0.3s ease-in;
        }
      }

      span {
        color: #0688ce;
      }
    }
  }
}
